extends ../../../node_modules/jade-bootstrap/_bootstrap.pug
append styles
	link(href='./css/studentList.css', rel='stylesheet')
block body  
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/home') Experience Summer Work USA
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/home') Home
					li
						a(href='/logout') Logout
	.container-fluid
		.row
			.col-xs-6.col-sm-2
			| 	&nbsp
			.col-xs-6.col-sm-10
				br
				br
				br
				h2.sub-header Students
				.table-responsive
					table.table.table-striped
						thead
							tr
								th #
								th First Name
								th Middle Name
								th Last Name
								th Gender
								th Address
								th D.O.B
								th Phone
								th GPA
								th Email
								th School ID
								th Sponsor ID
								th Job ID
								th
								th
						tbody
						each val in list.length ? list : ['There are no values']
							tr
								td= val.snum
								td= val.Fname 
								td= val.Mname
								td= val.Lname
								td= val.Gender
								td= val.StudAddress
								td= val.Dob
								td= val.Phone
								td= val.Gpa
								td= val.Email
								td= val.SchoolId
								td= val.SponsorId
								td= val.JobId
								td
								td
									if (profileRole === 3)
										a(href='/student/editStudent/'+val.StudId)  [Edit] 
										a(href='/student/deleteStudent/'+val.StudId) &nbsp [Delete]
									a(href='/student/listStudentDocs/'+val.StudId) &nbsp View Docs
									
									