// Special version of Bootstrap that only affects content wrapped in .bootstrap-iso
link(rel='stylesheet', href='https://formden.com/static/cdn/bootstrap-iso.css')
h1 Edit Job
// Inline CSS based on choices in "Settings" tab
style.
  .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}

.bootstrap-iso
  .container-fluid
    .row
      .col-md-6.col-sm-6.col-xs-12
        form(action='/job/editJob', method='POST')
          input(name='JobId', type='hidden', value=JobId)

          if (employerFlag == true)
            .form-group
              input#name.form-control(name='EmpId', type='hidden', value=EmpId)

          else if (employerFlag == false)
            .form-group
            label.control-label(for='EmpId')
              | Employer ID
              span.asteriskField
                | *
            input#name.form-control(name='EmpId', type='text')
    
          .form-group
            label.control-label(for='name')
              | Job Title
              span.asteriskField
                | *
            input#name.form-control(name='JobTitle', type='text', value=JobTitle)
          .form-group
            label.control-label(for='name')
              | Job Description
              span.asteriskField
                | 
            input#name.form-control(name='JobDescr', type='text', value=JobDescr)  
          .form-group
            label.control-label(for='name')
              | Location
              span.asteriskField
                | *
            input#name.form-control(name='JobLocation', type='text', value=JobLocation)            
          .form-group
            label.control-label.requiredField(for='name')
              | Pay Rate
              span.asteriskField
                | *
            input#email.form-control(name='PayRate', type='text', value=PayRate)
          .form-group
            label.control-label(for='name')
              | Job Application
              span.asteriskField
                | *
            input#name.form-control(type='file', name='upload', value=FilePath, multiple='')
          .form-group
            div
              button.btn.btn-primary(name='submit', type='submit')
                | Submit
              | &nbsp &nbsp
              a.btn.btn-primary(href='/home')
                | Cancel